.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    font-family: 'Avenir Next LT Pro';
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px; /* Agrega un margen inferior para separar el footer del contenido */
}

.item {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 15px 0;
    line-height: 1.5;
    text-align: center;
}

.load-more {
    text-align: center;
    margin-top: 20px; /* Espacio entre los productos y el botón */
}

#load-more-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Avenir Next LT Pro';
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#load-more-btn:hover {
    background-color: #f0f0f0;
}
